.price-div{
    top: 31%;
    border: none;
    padding: 8px 14px 8px 16px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 16px;
    border-radius: 18px;
    background-color: #F5F5F5;
    width: 61%;
}
.price-dropdown{
    position: absolute;
    top: 35%;
    left: 297px;
    display: block;
    background: white;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.price-section-dropdown{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.price-range{
    margin-bottom: 30px;
}
.price-range-para-pop{
    display: flex;
}